
body {
    background-color: #cccccc;
}

@media(min-width: 768px)
{
    .flex-container{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }
} 

.flex-container div {
    border:1px #ffffff solid;
    padding:10px;
}


.about-box{
    display: flex;
    flex:1;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


.portfolio-box {
    display: flex;
    flex:1;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.contact-box {
    display: flex;
    flex:1;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}